
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  min-width: 500px; /* Prevent window from being smaller than container width */
}

.container {
  width: 600px;
  
  background-color: aliceblue;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  box-sizing: border-box;
  overflow: auto; 
  min-height: 100vh;
}
